
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.neutral-button {
    --slds-c-button-color-background: var(--lwc-colorBackgroundButtonDefault, rgb(255, 255, 255));
    --slds-c-button-color-border: var(--lwc-colorBorderButtonDefault, rgb(217, 219, 221));
    --slds-c-button-text-color: var(--lwc-colorTextIconDefault, rgb(87, 98, 111));
}

.neutral-button:hover {
    --slds-c-button-color-background: var(--lwc-colorBackgroundButtonDefaultHover, rgb(244, 246, 249));
} 