.typing-dot:first-child {
    animation-delay: 0s;
}

.typing-dot:nth-child(2) {
    animation-delay: .33s;
}

.typing-dot:nth-child(3) {
    animation-delay: .66s;
}

.typing-dot {
    animation: 1.2s dot-typing 0s infinite linear;
}

@keyframes dot-typing{
    0% {
        background-color: #c9c9c9;
    }
    25% {
        background-color: #c9c9c9;
    }
    50% {
        background-color: #939393;
    }
    75% {
        background-color: #c9c9c9;;
    }
}
